 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>The North Face | <%= title %></title>
  <link rel="icon" href="/images/icon.jpg" class="icon" />
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <style></style>
</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar.ejs") %>

  <div class="video-container">
    <video autoplay loop muted id="video-bg">
      <source src="/images/Background Video.mp4" type="video/mp4" />
    </video>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100%">
      <div>
        <h1 class="mainheader row justify-content-center">The North Face</h1>
      </div>
      <br />
      <div class="row">
        <h2 class="explorebtn" id="explorebtn">Explore</h2>
      </div>
    </div>
  </div>

  <!-- Best Selling Section -->
  <section class="pt-5 pb-5" id="bestsellingsection">
    <div class="container">
      <h2 class="row justify-content-center fw-bold">Best Selling</h2>
      <div class="row">
        <% if (products.length > 0) { %>
          <% products.forEach(product => { %>
            <% if(product.producttype=='tshirt' && product.gender=='men') {  %>
              <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0 ">
                <a href="product"> <a href="/product/<%=product.title%>"> <img src="<%= product.imgsrc %>"
                      alt="Jacket 1" class="product-image"></a>
                  <h2 class="product-title"> <%= product.title %> </h2>
                  <span class="price"><%= product.price%></span>
                  <i class="bx bx-shopping-bag add-cart"></i>
              </div>
              <% } %>
          <% }) %>
        <% } else { %>
          <p>There are no products to display...</p>
        <% } %>


        <!-- <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0"> -->

      </div>
    </div>
  </section>

  <!-- Content section -->
  <!-- <section id="content" class="content pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="content-img">
            <img src="/images/About Us/Background.webp" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mt-md-5">
          <div class="content-inner">
            <div class="content-text">
              <h2>Mission</h2>
              <p>
                We are committed to revolutionizing the fashion retail landscape. Our mission is to provide an unparalleled online shopping experience that brings joy and convenience to every customer's doorstep. We are dedicated to offering a diverse range of high-quality clothing options, tailored to meet the unique tastes and needs of individuals from all walks of life. By leveraging innovative technology, sustainable practices, and a deep understanding of fashion trends, we aim to not only dress our customers in style but also to empower them to express their individuality confidently. Our focus on customer satisfaction, ethical sourcing, and accessibility ensures that every purchase made at our store contributes to a more responsible and fashion-forward world.
              </p>
              <a href="#" class="btn btn-primary"> Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Carousel -->
  <div class="container-fluid">
    <div id="carouselCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/About Us/Background.webp" class="d-block w-100" alt="..." />
            <div class="carousel-caption">
              <h5>Our Men Section</h5>
              <p>Men Featured.</p>
              <p>
                <a href="men" class="btn btn-primary mt3">Shop Men</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/Men/Men Background.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption">
              <h5>Our Women Section</h5>
              <p>Women's Featured.</p>
              <p>
                <a href="women" class="btn btn-primary mt3">Shop Women</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/Women/Women Background.jpeg" class="d-block w-100" alt="..." />
            <div class="carousel-caption">
              <h5>Our Kids Section</h5>
              <p>Kids's Featured</p>
              <p>
                <a href="kids" class="btn btn-primary mt3">Shop Kids</a>
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Content section -->
  <section id="content" class="content pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="content-img">
            <img src="/images/About Us/Background.webp" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mt-md-5">
          <div class="content-inner">
            <div class="content-text">
              <h2>Mission</h2>
              <p>
                We are committed to revolutionizing the fashion retail landscape. Our mission is to provide an unparalleled online shopping experience that brings joy and convenience to every customer's doorstep. We are dedicated to offering a diverse range of high-quality clothing options, tailored to meet the unique tastes and needs of individuals from all walks of life. By leveraging innovative technology, sustainable practices, and a deep understanding of fashion trends, we aim to not only dress our customers in style but also to empower them to express their individuality confidently. Our focus on customer satisfaction, ethical sourcing, and accessibility ensures that every purchase made at our store contributes to a more responsible and fashion-forward world.
              </p>
              <a href="#" class="btn btn-primary"> Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section -->
  <section id="content" class="content pb-5">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="content-img">
            <img src="/images/About Us/Background.webp" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mt-md-5">
          <div class="content-inner">
            <div class="content-text">
              <h2>Vision</h2>
              <p>
                Our vision is to become the leading destination for fashion enthusiasts around the globe. We aspire to set a benchmark in the online retail space by offering an exceptional range of clothing that is not only fashion-forward but also sustainable and ethically produced. Our goal is to create a platform where style meets convenience, enabling our customers to explore and embrace the latest trends with ease. We envision a future where our brand is synonymous with a commitment to quality, inclusivity, and environmental responsibility. By continuously innovating and staying ahead of fashion trends, we aim to inspire our community and make a positive impact in the fashion industry, ensuring every individual feels celebrated and confident in their personal style
              </p>
              <a href="#" class="btn btn-primary"> Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- The North Face Athletes Section -->
  <section class="pt-5 pb-5">
    <div class="container">
      <h2 class="row justify-content-center fw-bold">
        The North Face Athletes
      </h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <a href="product">
            <img src="/images/Athletes/Jess Kimura.png" alt="" class="product-image" />
          </a>
          <h3 class="product-title">Jess Kimura</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <img src="/images/Athletes/Vasu Sojitra.png" alt="" class="product-image" />
          <h3 class="product-title">Vasu Sojitra</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <img src="/images/Athletes/Ingrid Backstrom.png" alt="" class="product-image" />
          <h3 class="product-title">Ingrid Backstrom</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <img src="/images/Athletes/Erik Leon.png" alt="" class="product-image" />
          <h3 class="product-title">Erik Leon</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>

  <script src="/bootstrap/js/popper.min.js"></script>
  <script src="/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>